@page "/"

@using DependencyInjectionDemo.Logic

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@code {
    private DemoLogic logic;

    protected override void OnInitialized()
    {
        logic = new();
    }
}